.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 75px;
  width: 600px;
  background: #fff;
  padding-bottom: 30px;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}
.text {
  color: #2d2d2d;
  font-size: 48px;
  font-weight: 700;
}
.underline {
  width: 80%;
  height: 1px;
  background: #2d2d2d;
}
.inputs {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 480px;
  height: 80px;
  background: #eee;
  border-radius: 5px;
}
.input img {
  margin: 0px 30px;
  width: 45px;
  height: 45px;
}
.input input {
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: #777;
  font-size: 20px;
}
@media screen and (max-width: 600px) {
  .container {
    width: 90vw;
  }
  .input {
    width: 80vw;
  }
  .input input {
    font-size: 14px;
  }
}
.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 60px;
  color: #fff;
  background: #e48900;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
  margin: auto;
}
